--extra-index-url  https://download.pytorch.org/whl/cu128
--extra-index-url  https://www.paddlepaddle.org.cn/packages/stable/cu126/ 
paddlepaddle-gpu
paddlex[ie]
fastapi
uvicorn
jinja2
paddlex[ie]
paddlex[ocr]
python-multipart

typing-extensions>=4.9.0
transformers>=4.30.0
torch>=2.0.0
pillow>=10.0.0
PyMuPDF>=1.23.0
numpy>=1.24.0

#pip uninstall nvidia-cudnn-cu12 -y

#python -m pip install paddlepaddle-gpu -i https://www.paddlepaddle.org.cn/packages/stable/cu126/
#python -m pip install https://paddle-qa.bj.bcebos.com/paddle-pipeline/Develop-TagBuild-Training-Windows-Gpu-Cuda12.9-Cudnn9.9-Trt10.5-Mkl-Avx-VS2019-SelfBuiltPypiUse/86d658f56ebf3a5a7b2b33ace48f22d10680d311/paddlepaddle_gpu-3.0.0.dev20250717-cp311-cp311-win_amd64.whl